Options -Multiviews
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.(jpg|png|css|js)$ - [L]
RewriteRule ^index.php?login/?$ index.php?login [NC,L]
RewriteRule ^index.php?register/?$ index.php [NC,L]
RewriteRule ^recover/?$ recover.php [NC,L]
RewriteRule ^people/?$ people.php [NC,L]
RewriteRule ^people/([0-9]+)$ people.php?p=$1 [NC,L]
RewriteRule ^user/([0-9]+)$ profile.php?id=$1 [NC,L]
RewriteRule ^user/([0-9]+)/photos$ profile.php?id=$1&tab=photos [NC,L]
RewriteRule ^user/([0-9]+)/friends$ profile.php?id=$1&tab=friends [NC,L]
RewriteRule ^user/([0-9]+)/about$ profile.php?id=$1&tab=about [NC,L]
RewriteRule ^user/([0-9]+)/photo_upload$ profile.php?id=$1&photo_upload=true [NC,L]
RewriteRule ^messages/([0-9]+)$ messages.php?id=$1 [NC,L]
RewriteRule ^message/([0-9]+)$ messages/$1 [NC,L]
RewriteRule ^messages/([0-9]+)/delete$ messages.php?id=$1&delete=true [NC,L]
RewriteRule ^messages/([0-9]+)/unblock$ messages.php?id=$1&unblock_user=true [NC,L]
RewriteRule ^page/([0-9]+)$ page.php?id=$1 [NC,L]
RewriteRule ^settings/?$ settings.php [NC,L]
RewriteRule ^settings.php?sync/?$ settings.php?sync [NC,L]
RewriteRule ^likes/?$ likes.php [NC,L]
RewriteRule ^visitors/?$ visitors.php [NC,L]
RewriteRule ^encounters/?$ encounters.php [NC,L]
RewriteRule ^upgrades/?$ upgrades.php [NC,L]
RewriteRule ^wizard/?$ wizard.php [NC,L]
RewriteRule ^vip/?$ vip.php [NC,L]
RewriteRule ^credits/?$ credits.php [NC,L]
RewriteRule ^verify-email/?$ verify-email.php [NC,L]
php_flag short_open_tag on